.htmlbg {
    background-image: url('../images/html-bg.jpg'),
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.htmllanding {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    padding: 80px 20% 40px 20%;
    text-align: center;
}

.htmllanding h1 {
    position: relative;
    font-size: 50px;
    color: white;
    margin: 10px;
    animation: fade-in 1s;
    font-weight: 900;
}
.htmllanding p {
    position: relative;
    font-size: 25px;
    color: white;
    margin: 10px;
    animation: fade-in 1s;
    font-weight: 900;
}

.flex-container i {
    position: relative;
    animation: fade-in 1s;
}

hr.section {
    border: 10px solid crimson;
    border-radius: 5px;
}
hr.moduleHeading {
    border: 2px solid crimson;
    border-radius: 5px;
}
hr.moduleDivision {
    border: 1px solid crimson;
    border-radius: 3px;
}
.module {
    /* margin-left: 200px;
    margin-right: 200px; */
    width: 100%;
    color: white;
    animation: fade-in 1s;
    font-weight: 500;
}
.module h1 {
    position: relative;
    font-size: 50px;
    color: white;
    margin: 10px;
    animation: fade-in 1s;
    font-weight: 700;
    /* margin-left: 200px; */
}
.moduleContents {
    /* margin-left: 200px; */
    animation: fade-in 1s;
    font-weight: 700;
    font-size: 25px;
}
.moduleContents input {
    width: 30px;
    height: 30px;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #333;
    padding: 50px 25%;
    color: white;
}

.course label {
    font-size: 36px;
    margin: 4px 20px;
}

#course {
    width: 100%;
}

.course .card {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 200px;
    margin: 20px;
    background: #555;
    color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.card input[type=checkbox] {
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.course h1 {
    color: white;
}
.course col {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.course iframe {
    height: 100%;
    border: none;
    margin-right: 20px;
}

.course select {
    border: 1px solid black;
    padding: 10px 30px;
    font-size: 20px;
}
