@keyframes fade-in {
    from {
        opacity: 0;
        top: -20px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes lateral-wave {
    from {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(4px, 0px);
    }

    to {
        transform: translate(0, 0);
    }
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
}

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    font-size: 22px;
    padding: 50px 50% 50px 50px;
    background-image: url('../images/landing-bg.jpg');
    background-blend-mode: overlay;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.landing h1 {
    position: relative;
    font-size: 120px;
    color: #0f0f3f;
    margin: 10px;
    animation: fade-in 0.5s;
    font-weight: 900;
}

.landing p {
    position: relative;
    animation: fade-in 0.5s;
    margin: 10px;
}

.landing button {
    position: relative;
    cursor: pointer;
    font-size: 36px;
    padding: 10px 20px;
    border: 2px solid white;
    margin: 20px 10px;
    border-radius: 0;
    background: #0f0f3f;
    color: white;
    transition-duration: 0.2s;
    animation: fade-in 1s;
}

.landing button:hover {
    background: #4f4f7f;
    color: white;
}

.landing button:active {
    background: black;
}

.landing .signup-btn {
    position: relative;
    cursor: pointer;
    font-size: 36px;
    padding: 10px 20px;
    border: 2px solid #0f0f3f;
    margin: 20px 10px;
    border-radius: 0;
    background: white;
    color: #0f0f3f;
    transition-duration: 0.2s;
    animation: fade-in 1s;
}

.landing input {
    position: relative;
    outline: none;
    flex-grow: 100;
    font-size: 22px;
    padding: 10px 20px;
    border: 2px solid #0f0f3f;
    margin: 20px 10px;
    border-radius: 0;
    background: white;
    color: black;
    animation: fade-in 1s;
}

.landing input:focus {
    border: 4px solid #3f3f6f;
}

nav {
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    height: auto;
    color: white;
    background: #0f0f0f;
    padding: 10px 50px;
    font-size: 22px;
}

nav i {
    position: fixed;
    top: 8px;
    left: 50px;
    transition-duration: 0.2s;
}

nav i:hover {
    color: #777;
}

/* This animation isn't good
nav i:hover {
    animation-name: lateral-wave;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
*/

nav a {
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    transition-duration: 0.2s;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 5px solid grey;
}

nav a.active {
    color: crimson;
    border-bottom: 5px solid crimson;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row.center {
    justify-content: center;
}

.usernav {
    position: absolute;
    right: 2em;
    padding: 5px 20px;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #0f0f0f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec {
    margin-right: 30px;
}

footer .container .sec.aboutus {
    width: 35%;
}

footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: crimson;
}

footer p {
    color: #999;
}

.sci {
    margin-top: 20px;
    display: flex;
    padding: 0;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: crimson;
}

.sci li a .fa {
    color: white;
    font-size: 20px;
}

.quickLinks {
    position: relative;
    width: 25%;
}

.quickLinks ul {
    padding: 0;
}

.quickLinks ul li {
    list-style: none;
}

.quickLinks ul li a {
    color: gray;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover {
    color: white;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
    padding: 0;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span {
    color: gray;
}

.contact .info li a {
    color: gray;
    text-decoration: none;
}

.contact .info li a:hover {
    color: white;
}

.copyright {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: white;
}

.search-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 100vh;
    background: #0f0f3f;
    color: white;
    padding: 120px 15% 30px 15%;
}

.search-section p {
    font-size: 22px;
    margin: 20px;
}

.search-section form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.search-section input {
    display: flex;
    flex-grow: 100;
    margin: 10px 20px;
    padding: 10px 30px;
    font-size: 22px;
}

.search-section button {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    padding: 10px 20px;
    border: 2px solid white;
    margin: 10px 20px;
    border-radius: 0;
    background: #0f0f3f;
    color: white;
    transition-duration: 0.2s;
    animation: fade-in 1s;
}

.search-section a {
    color: white;
}

.search-section button:hover {
    background: #4f4f7f;
    color: white;
}

.search-section .card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    background: #090922;
    color: white;
    font-size: 20px;
    width: 90%;
    padding: 30px;
    margin: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    transition-duration: 0.2s;
}

.search-section .card:hover {
    background: rgb(17, 17, 53);
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.5);
}

.search-section .card:active {
    background: rgb(9, 9, 27);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
